@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Michroma&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quintessential&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dela+Gothic+One&family=Michroma&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quintessential&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Anton+SC&family=Dela+Gothic+One&family=Michroma&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quintessential&family=Racing+Sans+One&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    height: 50px;
    border-radius: 0 0 2px 2px;
    padding: 0 20px;
    color: #fff;
    width: 100%;
}

.controls:fullscreen {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
    padding: 10px;
    border-radius: 5px;
    opacity: 1;
}

.screen{
    width: 100%;
    height: 100%;
    background-color: #000;
    border-radius: 2px 2px 0 0;
}

.action-btn{
    width:  30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    border: 0;
    color: #fff;
    transition: 0.5s;
    margin-top: -5px;
}

#curr-time{
    margin-top: -5px;
    margin-left: 10px;
    margin-right: 5px;
    font-family: Anton SC;
}

#dur-time{
    margin-top: -7px;
    margin-left: 5px;
    font-family: Anton SC;
}

.progress{
    width: 80%;
    cursor: pointer;
}

.volume-container{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    color: #f159ff;
}

.volume{
    color: #f159ff;
}
.play{
    width:  60px;
    height: 50px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    color: #fff;
}

video:fullscreen {
    width: 100%;
    height: auto;
}

video{
    width: 100%;  
    max-width: 1360px;  
    height: auto;  
    background-color: #000; 
}